%% -*- erlang -*-
[{erleans, [{grain_provider, [{test_grain, postgres}]},

            {stream_providers, [{vonnegut,
                                 [{module, erleans_vonnegut_provider},
                                  {args, []}]}]},

            {providers, [{ets, [{module, ets_provider},
                                {args, []}]},
                         {postgres, [{module, erleans_pgsql_blob_provider},
                                     {pool_size, 5},
                                     {args, [{host, "0.0.0.0"},
                                             {port, 5432},
                                             {database, "test"},
                                             {user, "test"},
                                             {password, "test"}]}]}]},

            {default_provider, postgres},
            {default_stream_provider, vonnegut},

            {num_partitions, 64}]},

 {vonnegut, [{chain, [{name, chain1},
                      {discovery, local},
                      {port, 5555}]},
             {client, [{endpoints, [{"127.0.0.1", 5555}]}]},
             {client_pool_size, 2}]},

 {lasp, [{storage_backend, lasp_ets_storage_backend},
         {mode, delta_based},
         {delta_interval, 200}]},

 {plumtree, [{broadcast_exchange_timer, 60000},
             {broadcast_mods, [lasp_plumtree_backend]}]},

 {partisan, [{peer_port, 10200},
             {partisan_peer_service_manager,
              partisan_default_peer_service_manager}]},

 {lager, [{handlers, [{lager_console_backend,
                      [debug, {lager_default_formatter, [date, " ", time, " ", color, "[", severity, "] ",
                                                         {pid, ["pid=", pid], ""},
                                                         {module, [
                                                                  " module=", module, " ",
                                                                  {function, ["function=", function, " "], ""},
                                                                  {line, ["line=",line], ""}], ""},
                                                         " ", message, "\n"]}]}]}]}
].
