%% -*- erlang -*-
[{erleans, [{grain_provider, [{test_grain, postgres}]},
            {providers, [{ets, [{module, ets_provider},
                                {args, []}]}]},
            {default_provider, ets}]},

 {lasp, [{storage_backend, lasp_ets_storage_backend},
         {mode, delta_based},
         {delta_interval, 200}]},

 {plumtree, [{broadcast_exchange_timer, 60000},
             {broadcast_mods, [lasp_plumtree_backend]}]},

 {partisan, [{peer_port, 10200},
             {partisan_peer_service_manager,
              partisan_default_peer_service_manager}]}
].
