%% -*- erlang -*-
{erl_opts,
 [debug_info,
  warn_untyped_record]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{deps, [gproc,
        erlware_commons,
        types,
        sbroker,
        opentelemetry_api,
        gen_cluster,
        {uuid, {pkg, uuid_erl}}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},
                    {dist_node, [{sname, 'ct@rosa'}]}]}]}.

{ct_opts, [{sys_config, "test/sys.config"}]}.

{project_plugins,
 [rebar_alias,
  {rebar_covertool, {git, "https://github.com/tsloughter/covertool.git", {branch, "master"}}}]}.

{alias, [{test, [ct]},
         {check, [ct, xref, dialyzer, cover]}]}.

{dist_node, [{name, 'erleans@127.0.0.1'}]}.
{shell, [{apps, [erleans]},
         {config, "config/sys.config"}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

