%% -*- erlang -*-
{erl_opts,
 [debug_info,
  warn_untyped_record]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{deps, [gproc,
        opentelemetry_api,
        gen_cluster,
        {uuid, {pkg, uuid_erl}},

        {eqwalizer_support,
         {git_subdir,
          "https://github.com/whatsapp/eqwalizer.git",
          {branch, "main"},
          "eqwalizer_support"}}]}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},
                    {dist_node, [{sname, 'ct'}]}]}]}.

{ct_opts, [{sys_config, "test/sys.config"}]}.

{project_plugins,
 [rebar_alias,
  covertool]}.

{shell, [{apps, [erleans]},
         {config, "config/sys.config"}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

