%% -*- erlang -*-
{erl_opts,
 [debug_info,
  warn_untyped_record]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
{covertool, [{coverdata_files, ["ct.coverdata"]}]}.

{deps, [
        {lasp, {git, "https://github.com/Inkwell-Data/lasp.git", {branch, "no_lager"}}}
        , {lasp_pg, {git, "https://github.com/Inkwell-Data/lasp_pg.git", {branch, "no_lager"}}}
        , {partisan, {git, "https://github.com/Inkwell-Data/partisan.git", {branch, "no_lager"}}}
        , {gproc, "0.9.0"}
        , {erlware_commons, "1.6.0"}
        , {types, {git, "https://github.com/Inkwell-Data/types.git", {branch, "no_lager"}}}
        , {sbroker, {git, "git@github.com:Inkwell-Data/sbroker.git", {branch, "master"}}}
        % {opentelemetry_api, "0.6.0"},
        , {opentelemetry_api, {git_subdir, "http://github.com/open-telemetry/opentelemetry-erlang", {branch, "main"}, "apps/opentelemetry_api"}}
        ,{uuid, {pkg, uuid_erl}}
        ]
}.

{profiles, [{db, [{deps, []},
                  {ct_opts, [{sys_config, "test/db_sys.config"}]}]},
            {test, [{deps, []},
                    {erl_opts, [nowarn_export_all]},
                    {dist_node, [{name, 'ct@127.0.0.1'}]}]}]}.

{ct_opts, [{sys_config, "test/sys.config"}]}.

{project_plugins,
 [rebar_alias,
  {rebar_covertool, {git, "https://github.com/tsloughter/covertool.git", {branch, "master"}}}]}.

{alias, [{test, [ct]},
         {check, [ct, xref, dialyzer, cover]}]}.

{dist_node, [{name, 'erleans@127.0.0.1'}]}.
{shell, [{apps, [erleans]},
         {config, "config/sys.config"}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

