%% -*- erlang -*-
[{erleans, [{providers, []},
            {default_provider, ets_provider}]},

 {lasp, [{storage_backend, lasp_ets_storage_backend},
         {mode, delta_based},
         {delta_interval, 1000}]},

 {plumtree, [{broadcast_exchange_timer, 60000},
             {broadcast_mods, [lasp_plumtree_backend]}]},

 {partisan, [{peer_port, 10200},
             {partisan_peer_service_manager,
              partisan_default_peer_service_manager}]}
].
