%% -*- erlang -*-
[{erleans, [{providers, [{name1, [{module, erleans_pgsql_blob_provider},
                                  {args, [{size, 5},
                                          {host, "0.0.0.0"},
                                          {port, 5432},
                                          {database, "test"},
                                          {user, "test"},
                                          {password, ""}]}]}]},
            {default_provider, ets_provider},
            {default_stream_provider, test_stream} % add ets provider here too?
           ]},

 {lasp, [{membership, true},
         {storage_backend, lasp_ets_storage_backend},
         {mode, delta_based},
         {delta_interval, 1000}]},

 {plumtree, [{broadcast_exchange_timer, 60000},
             {broadcast_mods, [lasp_plumtree_backend]}]},

 {partisan, [{peer_port, 10200},
             {pid_encoding, false},
             {partisan_peer_service_manager,
              partisan_default_peer_service_manager}]},

 {kernel, [{logger_level, debug},
           {logger, [{filters, log, [{no_progress, {fun logger_filters:progress/2, stop}}]},
                     {handler, default, logger_std_h,
                      #{formatter => {logger_formatter, #{template => [time," ", file,":",line," ",level,": ",msg,"\n"]}}}}]}]}
].
