%% -*- erlang -*-
[{erleans, [{providers, #{in_memory => #{module => erleans_provider_ets,
                                         args => #{}}}},
            {default_provider, in_memory}
           ]},

 {kernel, [{logger_level, debug},
           {logger, [{filters, log, [{no_progress, {fun logger_filters:progress/2, stop}}]},
                     {handler, default, logger_std_h,
                      #{formatter => {logger_formatter, #{template => [time," ", file,":",line," ",level,": ",msg,"\n"]}}}}]}]}
].
